PORT=3000

MONGO_URI=mongodb://localhost:27017/affiliate-payout

REDIS_URL=localhost

//advance payment percentage of total commission amount
ADVANCE_PERCENTAGE=10

//time gap between subsequent withdrawals by same user or wallet
WITHDRAWAL_HOURS_GAP=24

//currently set to run every 5 minutes
ADVANCE_PAYMENT_BATCH=*/5 * * * *

//currently set to run every 5 minutes
FINAL_PAYMENT_BATCH=*/5 * * * *